# Build folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
.vscode/



# Logs
*.log

# Secret configs
appsettings.*.json
!appsettings.json  # Giữ lại file cấu hình mặc định
